<% include partials/header %>
  <div class="container">
    <h1 style="text-align: center;">Report successfully, thank you!</h1>
    <a href="/posts/todo/page/1">Go back</a>
  </div>
  <% include partials/footer %>