<% include partials/header %>
  <div class="container">
    <h1 style="text-align: center;">Submit successfully, thank you!</h1>

    <a href="/posts/page/<%= pageId %>">Go back</a>
  </div>
  <% include partials/footer %>